// $primary:
$text-dark: #32325d;
$text: lighten($text-dark, 10%);

$background-gray: #e6ebf1;

$yellow: #f6d365;
$orange: #fda085;
$evening: #51557d;
$night: #323a5a;
$midnight: #222d49;

$font-stack-regular: 'ProximaNova', Arial, Helvetica, sans-serif;
$font-stack-bold: 'ProximaNovaBold', Arial, Helvetica, sans-serif;

$indigo: #6772e5;
$bright-green: #3ecf8e;
